# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/bin/
/.cache-main
/.cache-tests
/.worksheet/
.ammonite/

# IntelliJ IDEA user-specific
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/shelf/
.idea/dictionaries/
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# IntelliJ IDEA Gradde 
.idea/gradle.xml
.idea/libraries/
*.iml
.idea/modules.xml
.idea/dictionaries/

# IntelliJ IDEA Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# IntelliJ IDEA my decision because I think they are redundant
.idea/misc.xml
.idea/scala_settings.xml
.idea/scala_compiler.xml


# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - VSCode - metals plugin
.metals/
.bloop/
metals.sbt
**/.bsp

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/logs

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

#sbt
**/target/

#no se
.angulardoc.json

#basura
/arena/depositoArchivos/*
/arena/logos/cliente/*
/arena/logos/grupo/*
/arena/logos/operario/*

#seguridad
*.p12
*.pkcs12
*.pem
*.crt
*.cer
*.csr
*.jks
botofono-*-firebase-adminsdk-*.json
